# Data Pipeline

* Dataset comes from https://www.yelp.com/dataset/challenge
* This notebook will parse the relevant features from each dataset into one df to use

In [45]:
import databricks.koalas as ks
import pandas as pd
pd.set_option('display.max_columns', None)
import time
import json
import os
from collections import Counter

from sklearn import preprocessing

In [33]:
import pickle
import sys

def save_as_pickled_object(obj, filepath):
    """
    This is a defensive way to write pickle.write, allowing for very large files on all platforms
    """
    max_bytes = 2**31 - 1
    bytes_out = pickle.dumps(obj)
    n_bytes = sys.getsizeof(bytes_out)
    with open(filepath, 'wb') as f_out:
        for idx in range(0, n_bytes, max_bytes):
            f_out.write(bytes_out[idx:idx+max_bytes])

# Load Yelp Dataset into DF

To parse the yelp dataset into a dataframe

## Load Datasets

In [34]:
def load_dataset(file):
    '''
    reads in a json file as a list, then transformed into a pandas df, and outputs to a pickle file for easier access
    
    input: json filepath
    output: pandas dataframe
    '''
    #reads in the json file
    start = time.time()
    raw_data = []
    with open(file) as f:
        for line in f:
            raw_data.append(json.loads(line))
    end = time.time()
    print('loaded {} lines of data into a list in {} seconds'.format(len(raw_data), end-start))

    # stores data into a df
    start = time.time()
    order = list(raw_data[0].keys())
    df = pd.DataFrame.from_dict(raw_data, orient='columns')
    df = df[order]
    end = time.time()
    print('loaded {} lines of data into a df in {} seconds'.format(len(df), end-start))
    
    start = time.time()
    filename = os.path.basename(file)
    name = filename[:filename.find('.')] + '_df.pkl'
    if(filename == 'review.json'):
        save_as_pickled_object(df, '../data/review_df.pkl')
    else:
        df.to_pickle('../data/' + name)
    end = time.time()
    print('{} has been converted to {} in {} seconds'.format(filename, name, end-start))

    return df

In [35]:
file = '../data/yelp_dataset'

review_raw_data = load_dataset(file)

loaded in 6685900 lines of data into a list in 67.61171507835388 seconds
loaded 6685900 lines as a df in 142.59094905853271 seconds
review.json has been converted to review_df.pkl in 159.64053511619568 seconds

In [49]:
folder = '../data/yelp_dataset/'

start = time.time()
json_file_list = []
for file in os.listdir(folder):
    if file.endswith(".json"):
        json_file_list.append(folder+file)
        print('found ' + file)               

for file in json_file_list:
    print('\nloading {}...'.format(file))
    load_dataset(file)
end = time.time()
    
print('\nFinished loading all json files! This took {} seconds.'.format(end-start))

found business.json
found review_sample.json
found user.json
found checkin.json
found tip.json
found review.json
found photo.json

loading ../data/yelp_dataset/business.json...
loaded in 192609 lines of data into a list in 264.7689700126648 seconds
loaded 192609 lines as a df in 1.0468401908874512 seconds
business.json has been converted to business_df.pkl in 2.9696381092071533 seconds
loading ../data/yelp_dataset/review_sample.json...
loaded in 5000 lines of data into a list in 0.04626607894897461 seconds
loaded 5000 lines as a df in 0.03955817222595215 seconds
review_sample.json has been converted to review_sample_df.pkl in 0.015414953231811523 seconds
loading ../data/yelp_dataset/user.json...
loaded in 1637138 lines of data into a list in 105.56039309501648 seconds
loaded 1637138 lines as a df in 28.80335807800293 seconds
user.json has been converted to user_df.pkl in 19.84369993209839 seconds
loading ../data/yelp_dataset/checkin.json...
loaded in 161950 lines of data into a list in 1.5280051231384277 seconds
loaded 161950 lines as a df in 0.25268006324768066 seconds
checkin.json has been converted to checkin_df.pkl in 0.9046452045440674 seconds
loading ../data/yelp_dataset/tip.json...
loaded in 1223094 lines of data into a list in 5.613691091537476 seconds
loaded 1223094 lines as a df in 3.0895118713378906 seconds
tip.json has been converted to tip_df.pkl in 2.400291919708252 seconds
loading ../data/yelp_dataset/review.json...
loaded in 6685900 lines of data into a list in 182.25465869903564 seconds
loaded 6685900 lines as a df in 175.36436700820923 seconds
review.json has been converted to review_df.pkl in 249.09662890434265 seconds
loading ../data/yelp_dataset/photo.json...
loaded in 200000 lines of data into a list in 1.0332450866699219 seconds
loaded 200000 lines as a df in 0.4679901599884033 seconds
photo.json has been converted to photo_df.pkl in 0.2490062713623047 seconds
Finished loading all json files! This took 1220.9538009166718 seconds.

## See Schema

In [50]:
for file in json_file_list:
    raw_data = []
    with open(file) as f:
        for line in f:
            raw_data.append(json.loads(line))
    print('printing schema for {}, {} rows'.format(file, len(raw_data)))
    schema = list(raw_data[0].keys())
    print(schema)

printing schema for ../data/yelp_dataset/business.json, 192609 rows
['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours']
printing schema for ../data/yelp_dataset/review_sample.json, 5000 rows
['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
printing schema for ../data/yelp_dataset/user.json, 1637138 rows
['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos']
printing schema for ../data/yelp_dataset/checkin.json, 161950 rows
['business_id', 'date']
printing schema for ../data/yelp_dataset/tip.json, 1223094 rows
['user_id', 'business_id', 'text', 'date', 'compliment_count']
printing schema for ../data/yelp_dataset/review.json, 6685900 rows
['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']
printing schema for ../data/yelp_dataset/photo.json, 200000 rows
['caption', 'photo_id', 'business_id', 'label']

## Peak into each DF

In [73]:
business_df = pd.read_pickle('../data/business_df.pkl')
print(business_df.shape)
business_df.head(2)

(192609, 14)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."

In [84]:
user_df = pd.read_pickle('../data/user_df.pkl')
print(user_df.shape)
user_df.head(2)

(1637138, 22)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,2013-10-08 23:11:33,84,17,25,"2015,2016,2017","c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",5,4.03,2,0,0,0,0,1,1,1,1,2,0
1,4XChL029mKr5hydo79Ljxg,Jenna,33,2013-02-21 22:29:06,48,22,16,,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",4,3.63,1,0,0,0,0,0,0,1,1,0,0

In [8]:
checkin_df = pd.read_pickle('../data/checkin_df.pkl')
print(checkin_df.shape)
checkin_df.head(2)

(161950, 2)

              business_id                                               date
0  --1UhMGODdWsrMastO9DZw  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...
1  --6MefnULPED_I942VcFNA  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...

In [10]:
tip_df = pd.read_pickle('../data/tip_df.pkl')
print(tip_df.shape)
tip_df.head(2)

(1223094, 5)

,user_id,business_id,text,date,compliment_count
0,UPw5DWs_b-e2JRBS-t37Ag,VaKXUpmWTTWDKbpJ3aQdMw,"Great for watching games, ufc, and whatever el...",2014-03-27 03:51:24,0
1,Ocha4kZBHb4JK0lOWvE0sg,OPiPeoJiv92rENwbq76orA,Happy Hour 2-4 daily with 1/2 price drinks and...,2013-05-25 06:00:56,0

In [87]:
review_df = pd.read_pickle('../data/review_df.pkl')
print(review_df.shape)
review_df.head(2)

(6685900, 9)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33

In [12]:
photo_df = pd.read_pickle('../data/photo_df.pkl')
print(photo_df.shape)
photo_df.head(2)

(200000, 4)

  caption                photo_id             business_id   label
0          MllA1nNpcp1kDteVg6OGUw  rcaPajgKOJC2vo_l3xa42A  inside
1          YjxBE88Bf6CmTEF2LP1UNA  Kn23LDd740SBVJ7mum0fwg  inside

In [15]:
min(review_df['date']), max(review_df['date'])

('2004-10-12 10:13:32', '2018-11-14 18:13:26')

## Create Combined DF
add new computed columns and drop the columns used to create them

### exploring and re-creating 'user_df'

adds likes, compliments, elite columns into one column that is more readable for use in EDA/modelling

In [89]:
user_df['likes'] = user_df['useful'] + user_df['funny']+ user_df['cool']
user_df['compliments'] = user_df['compliment_hot'] + user_df['compliment_more']+ user_df['compliment_profile']+ user_df['compliment_cute']+ user_df['compliment_list']+ user_df['compliment_note']+ user_df['compliment_plain']+ user_df['compliment_cool']+ user_df['compliment_funny']+ user_df['compliment_writer']+ user_df['compliment_photos']
user_df['elite_years'] = user_df['elite'].apply(lambda x: len(x.split(',')))
user_df = user_df.drop(['useful', 'funny', 'cool', 'elite', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos'], axis=1)
user_df.head()

,user_id,name,review_count,yelping_since,friends,fans,average_stars,likes,compliments,elite_years
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,95,2013-10-08 23:11:33,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",5,4.03,126,8,3
1,4XChL029mKr5hydo79Ljxg,Jenna,33,2013-02-21 22:29:06,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",4,3.63,86,3,1
2,bc8C_eETBWL0olvFSJJd0w,David,16,2013-10-04 00:16:10,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",0,3.71,46,1,1
3,dD0gZpBctWGdWo9WlGuhlA,Angela,17,2014-05-22 15:57:30,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",5,4.85,48,4,1
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,361,2013-10-23 07:02:50,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",39,4.08,2058,293,4

### exploring and re-creating 'business_df'

In [74]:
business_df.categories = business_df.categories.fillna('[]') # businesses without categories get a null category
business_df.categories = business_df['categories'].apply(lambda x: x.split(', '))
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"[Golf, Active Life]",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","[Specialty Food, Restaurants, Dim Sum, Importe...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","[Sushi Bars, Restaurants, Japanese]","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"[Insurance, Financial Services]","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","[Plumbing, Shopping, Local Services, Home Serv...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

#### 788841 category listings

In [52]:
# converts categories column into one list of all categories

category_lst = []
for category in business_df['categories']:
    category_lst.extend(category)
    
len(category_lst)

788841

#### there are 1301 categories !!!!

#### this is <b>too</b> many, let's only keep 'Restaurants' category for next steps to simplify EDA/modelling

#### notes:
* briefly looking at the categories and business_df, there are restaurant subtypes (e.g. chinese, seafood, sushi bars) but they also have a 'restaurant' category appended to them
* certain 'food' category types (e.g. bakery) do not have a 'restaurant category type, these would be excluded from our final dataset for simplification

In [57]:
len(Counter(category_lst))

1301

In [58]:
Counter(category_lst).keys()

dict_keys(['Golf', 'Active Life', 'Specialty Food', 'Restaurants', 'Dim Sum', 'Imported Food', 'Food', 'Chinese', 'Ethnic Food', 'Seafood', 'Sushi Bars', 'Japanese', 'Insurance', 'Financial Services', 'Plumbing', 'Shopping', 'Local Services', 'Home Services', 'Kitchen & Bath', 'Home & Garden', 'Water Heater Installation/Repair', 'Shipping Centers', 'Couriers & Delivery Services', 'Printing Services', 'Beauty & Spas', 'Hair Salons', 'Hair Stylists', 'Barbers', "Men's Hair Salons", 'Cosmetics & Beauty Supply', 'Nail Salons', 'Day Spas', 'Massage', 'Professional Services', 'Computers', 'IT Services & Computer Repair', 'Internet Service Providers', 'Web Design', 'Breakfast & Brunch', 'Mexican', 'Tacos', 'Tex-Mex', 'Fast Food', 'Bars', 'Nightlife', 'Pubs', 'Irish Pub', 'Italian', 'Pizza', 'Chicken Wings', 'Bakeries', 'Fitness & Instruction', 'Yoga', 'Event Planning & Services', 'Photographers', 'Trainers', 'Health & Medical', 'Physical Therapy', 'Gyms', 'Arcades', 'Arts & Entertainment', 'Automotive', 'Car Dealers', 'Strip Clubs', 'Adult Entertainment', 'Dance Clubs', 'Sandwiches', 'Salad', 'Burgers', 'Comfort Food', "Women's Clothing", 'Accessories', 'Fashion', 'Shoe Stores', 'Patisserie/Cake Shop', 'Sporting Goods', "Men's Clothing", 'Sports Wear', 'Car Rental', 'Windshield Installation & Repair', 'Auto Detailing', 'Hotels & Travel', 'Towing', 'Body Shops', 'Juice Bars & Smoothies', 'Vegan', 'Department Stores', 'Discount Store', 'Home Decor', 'Auto Repair', 'Tapas Bars', 'Southern', 'Coffee & Tea', 'Ice Cream & Frozen Yogurt', 'Real Estate', 'Banks & Credit Unions', 'Mortgage Brokers', 'American (Traditional)', 'American (New)', 'Steakhouses', 'Apartments', 'Vacation Rentals', 'Medical Centers', 'Doctors', 'Obstetricians & Gynecologists', 'Auto Glass Services', 'Auto Parts & Supplies', 'Auto Customization', 'Vehicle Wraps', 'Interior Design', 'Rugs', 'Furniture Stores', 'Mattresses', 'Real Estate Services', 'Food Banks', 'Community Service/Non-Profit', 'Massage Therapy', "Children's Clothing", 'Used', 'Vintage & Consignment', 'Desserts', 'Hotels', 'Endodontists', 'Dentists', 'Modern European', 'Wine Bars', 'Music Venues', 'Cupcakes', 'Convenience Stores', 'Gas Stations', 'Grocery', 'Heating & Air Conditioning/HVAC', 'Parks', 'Hookah Bars', 'Persian/Iranian', 'Country Dance Halls', 'Middle Eastern', 'Beer', 'Wine & Spirits', 'Lounges', 'Delis', 'Kids Hair Salons', 'Jewelry', 'Fish & Chips', 'Skin Care', 'Tanning Beds', 'Tanning', 'Polish', 'Caterers', 'Tree Services', 'Landscape Architects', 'Landscaping', 'Lawn Services', 'Hair Loss Centers', 'Korean', 'Contractors', 'Hardware Stores', 'Building Supplies', 'Paint Stores', 'Painters', 'General Dentistry', 'Eyebrow Services', 'Herbal Shops', 'Nurseries & Gardening', 'Spiritual Shop', 'Custom Cakes', 'Cafes', 'Canadian (New)', 'Portuguese', 'Oral Surgeons', 'Cosmetic Dentists', 'Orthodontists', 'Tires', 'Windows Installation', 'Naturopathic/Holistic', 'Weight Loss Centers', 'Medical Spas', 'Nutritionists', 'Landmarks & Historical Buildings', 'Mediterranean', 'Public Services & Government', 'Leather Goods', 'Life Coach', 'Hospitals', 'Rehabilitation Center', 'Makeup Artists', 'Permanent Makeup', 'Hair Extensions', 'Property Management', 'Donuts', 'Family Practice', 'Libraries', 'Educational Services', 'Education', 'Books', 'Mags', 'Music & Video', 'Bookstores', 'Butcher', 'Floral Designers', 'Florists', 'Flowers & Gifts', 'Funeral Services & Cemeteries', 'Beer Gardens', 'Nail Technicians', 'Bike Repair/Maintenance', 'Paint & Sip', 'Arts & Crafts', 'Art Classes', 'Hobby Shops', 'Party & Event Planning', 'Venues & Event Spaces', 'Sports Bars', 'Comedy Clubs', 'Graphic Design', 'Chiropractors', 'Handyman', 'Security Systems', 'Traditional Chinese Medicine', 'Acupuncture', 'Plus Size Fashion', 'Jewelry Repair', 'Watches', 'Vietnamese', 'Thai', 'Diagnostic Services', 'Diagnostic Imaging', 'Radiologists', 'Airports', 'Car Wash', 'Taxis', 'Limos', 'Transportation', 'Airport Shuttles', 'Caribbean', 'Art Galleries', 'Child Care & Day Care', 'Preschools', 'Lawyers', 'Divorce & Family Law', 'Personal Injury Law', 'Roofing', 'Eyewear & Opticians', 'Optometrists', 'Asian Fusion', 'Hot Dogs', 'Vegetarian', 'Soup', 'Antiques', 'Thrift Stores', 'Internal Medicine', 'Flooring', 'Cabinetry', 'Employment Agencies', 'Talent Agencies', 'Performing Arts', 'Sewing & Alterations', 'Bridal', 'Clothing Rental', 'Formal Wear', 'Meat Shops', 'Veterinarians', 'Pets', 'French', 'Creperies', 'Newspapers & Magazines', 'Buffets', 'Video/Film Production', 'Walk-in Clinics', 'Urgent Care', 'Business Consulting', 'Eyelash Service', 'Hair Removal', 'Health Markets', 'Specialty Schools', 'Cooking Schools', 'Laser Hair Removal', 'Chocolatiers & Shops', 'Car Window Tinting', 'Pet Sitting', 'Pet Groomers', 'Pet Services', 'Diners', 'Blow Dry/Out Services', 'Tours', 'Garage Door Services', 'Dive Bars', 'Wheel & Rim Repair', 'Costumes', 'Barbeque', 'Tattoo', 'Turkish', 'Used Car Dealers', 'Accountants', 'Tax Services', 'Pain Management', 'Oil Change Stations', 'Herbs & Spices', 'Motorcycle Repair', 'Motorcycle Rental', 'Motorcycle Dealers', 'Baby Gear & Furniture', 'Gastropubs', 'Investing', 'Museums', 'Art Museums', 'Cajun/Creole', 'Hiking', '[]', 'Party Equipment Rentals', 'Casinos', 'Bike Rentals', 'Bikes', 'Outdoor Gear', 'Ski & Snowboard Shops', 'Moroccan', 'Sugaring', 'Wedding Planning', 'Movers', 'Self Storage', 'Fences & Gates', 'Tapas/Small Plates', 'Electricians', 'Gluten-Free', 'Food Delivery Services', 'Battery Stores', 'Appliances & Repair', 'Local Flavor', 'Poutineries', 'Laboratory Testing', 'Chimney Sweeps', 'Fireplace Services', 'Masonry/Concrete', 'Home Cleaning', 'Mobile Phones', 'Internet Cafes', 'LAN Centers', 'Bird Shops', 'Toy Stores', 'Holiday Decorations', 'Pet Stores', 'Psychic Mediums', 'Psychics', 'Supernatural Readings', 'Musical Instrument Services', 'Piano Services', 'Flight Instruction', 'Airlines', 'Appliances', 'Wraps', 'Air Duct Cleaning', 'Pest Control', 'Donation Center', 'Window Washing', 'Hawaiian', 'Poke', 'Ramen', 'Mobile Phone Repair', 'Electronics Repair', 'Taiwanese', 'Smog Check Stations', 'Pakistani', 'Indian', 'Waxing', 'Pawn Shops', 'Vape Shops', 'Commercial Real Estate', 'Real Estate Agents', 'Mortgage Lenders', 'Lingerie', 'Financial Advising', 'Hot Tub & Pool', 'Pool Cleaners', 'Allergists', 'Carpet Cleaning', 'Tiling', 'Grout Services', 'Electronics', 'Art Schools', 'Brasseries', 'Soul Food', 'Furniture Assembly', 'Filipino', 'Private Jet Charter', 'Travel Services', 'Packing Services', 'Gift Shops', 'Auction Houses', 'Estate Liquidation', 'Organic Stores', 'Shopping Centers', 'Anesthesiologists', 'Hakka', 'Drugstores', 'Peruvian', 'Art Supplies', 'Gelato', 'Coffee Roasteries', 'Advertising', 'Videographers', 'Marketing', 'Public Relations', 'Event Photography', 'Session Photography', 'Print Media', 'Mass Media', 'Signmaking', 'Summer Camps', 'Bubble Tea', 'Greek', 'Refinishing Services', 'Health Insurance Offices', 'Office Cleaning', 'Botanical Gardens', 'Cocktail Bars', 'Photo Booth Rentals', 'Party Supplies', 'Dog Walkers', 'Resorts', 'Carpeting', 'Dry Cleaning & Laundry', 'Laundromat', 'Laundry Services', 'Latin American', 'Solar Installation', 'Recreation Centers', 'Sports Medicine', 'DUI Law', 'Medical Law', 'Interval Training Gyms', 'Guns & Ammo', 'Motorsport Vehicle Dealers', 'Keys & Locksmiths', 'Car Stereo Installation', 'Halal', 'Reiki', 'Aquariums', 'Shoe Repair', 'Lebanese', 'Escape Games', 'Do-It-Yourself Food', 'Mongolian', 'Home & Rental Insurance', 'Auto Insurance', 'Puerto Rican', 'Pet Adoption', 'Pharmacy', 'Customized Merchandise', 'Outdoor Furniture Stores', 'Noodles', 'Wills', 'Trusts', '& Probates', 'Estate Planning Law', 'Business Law', 'Elementary Schools', 'Dance Schools', 'Driving Schools', 'Religious Organizations', 'Churches', 'Tobacco Shops', 'Pool & Hot Tub Service', 'Cinema', 'Office Equipment', 'Bowling', 'Home Health Care', 'Medical Transportation', 'Mountain Biking', 'Medical Supplies', 'Dermatologists', 'Cosmetic Surgeons', 'CPR Classes', 'Food Stands', 'Waffles', 'Pool Halls', 'Midwives', 'Gay Bars', 'Dinner Theater', 'Parking', 'Bagels', 'Animal Shelters', 'Pediatric Dentists', 'Neurologist', 'Dog Parks', 'Notaries', 'Mailbox Centers', 'DJs', 'Delicatessen', 'Truck Rental', 'Propane', 'Packing Supplies', 'Counseling & Mental Health', 'Horseback Riding', 'Horse Boarding', 'Shoe Shine', 'Transmission Repair', 'Guest Houses', 'Reflexology', 'Door Sales/Installation', 'Cardio Classes', 'Fondue', 'Popcorn Shops', 'Piercing', 'Tiki Bars', 'Cantonese', 'Races & Competitions', 'Food Trucks', 'Home Inspectors', 'Bespoke Clothing', 'Osteopathic Physicians', 'Junk Removal & Hauling', 'Fruits & Veggies', 'Farmers Market', 'Employment Law', 'Legal Services', 'Swimwear', 'Boot Camps', 'Cannabis Dispensaries', 'Cannabis Clinics', 'Ophthalmologists', 'Laser Eye Surgery/Lasik', 'Middle Schools & High Schools', 'Tennis', 'Amateur Sports Teams', 'Photography Stores & Services', 'Boxing', 'Lighting Fixtures & Equipment', 'Podiatrists', 'Videos & Video Game Rental', 'Television Service Providers', 'Telecommunications', 'Chicken Shop', 'Vitamins & Supplements', 'Post Offices', 'Foundation Repair', 'Waterproofing', 'Walking Tours', 'Farms', 'Cards & Stationery', 'Taekwondo', 'Martial Arts', 'Pediatricians', 'Soccer', 'Playgrounds', 'Emergency Rooms', 'Pilates', 'Sports Clubs', 'Tea Rooms', 'Emergency Pet Hospital', 'Cosmetology Schools', 'Vocational & Technical School', 'Blood & Plasma Donation Centers', 'African', 'Body Contouring', 'Tattoo Removal', 'Pet Boarding', 'Outlet Stores', 'Beer Bar', 'Musical Instruments & Teachers', 'Kosher', 'Ukrainian', 'Bingo Halls', 'Whiskey Bars', 'Video Game Stores', 'Hot Pot', 'Malaysian', 'Champagne Bars', 'Public Transportation', 'TV Mounting', 'Home Theatre Installation', 'Professional Sports Teams', 'Head Shops', 'Cryotherapy', 'Auto Security', 'Boat Dealers', 'Karaoke', 'Ticket Sales', 'Musicians', 'Gold Buyers', 'Wine Tasting Room', 'Wineries', 'Firewood', 'Utilities', 'Surf Schools', 'Boating', 'Beaches', 'Yelp Events', 'RV Repair', 'Cheese Tasting Classes', 'Tasting Classes', 'Cheese Shops', 'Irish', 'Bed & Breakfast', 'Life Insurance', 'Party Bus Rentals', 'Souvenir Shops', 'Archery', 'Damage Restoration', 'Shades & Blinds', 'Shutters', 'Candy Stores', 'Country Clubs', 'Pan Asian', 'Hydrotherapy', 'Orthopedists', 'Pet Training', 'Stadiums & Arenas', 'Home Organization', 'Security Services', 'High Fidelity Audio Equipment', 'Personal Chefs', 'Sri Lankan', 'Seafood Markets', 'Attraction Farms', 'Pumpkin Patches', 'Amusement Parks', 'Comic Books', 'Urologists', 'Rodeo', 'Bistros', 'Furniture Reupholstery', 'Rheumatologists', 'Climbing', 'Mobile Home Parks', 'Mobile Home Dealers', 'Hats', 'Social Clubs', 'Party Bike Rentals', 'Trampoline Parks', 'Criminal Defense Law', 'Street Vendors', 'Swimming Pools', 'Colleges & Universities', 'Gutter Services', 'Wedding Chapels', 'Holiday Decorating Services', 'Wholesalers', 'Pretzels', 'Pulmonologist', 'Hydroponics', 'Endocrinologists', 'Check Cashing/Pay-day Loans', 'Installment Loans', 'Personal Shopping', 'Dry Cleaning', 'Kebab', 'Auto Upholstery', 'Aviation Services', 'Water Parks', 'Circuit Training Gyms', 'Music & DVDs', 'Day Camps', 'Community Centers', 'Pet Photography', 'Bounce House Rentals', 'Embroidery & Crochet', 'Shaved Ice', 'Oncologist', 'Embassy', 'Breweries', 'Pet Waste Removal', 'Maternity Wear', 'Boat Charters', 'Marinas', 'Boat Repair', 'Sleep Specialists', 'General Litigation', 'Swimming Lessons/Schools', 'Paint-Your-Own Pottery', 'Mobile Phone Accessories', 'Condominiums', 'Vinyl Records', 'Stucco Services', 'Drywall Installation & Repair', 'Pressure Washers', 'Meditation Centers', 'Tai Chi', 'Wildlife Control', 'Hearing Aid Providers', 'Audiologist', 'Hungarian', 'British', 'Auto Loan Providers', 'Vascular Medicine', 'Public Markets', 'Courthouses', 'Dance Studios', 'Kids Activities', 'German', 'Festivals', 'Occupational Therapy', 'Wholesale Stores', 'Carpet Installation', 'Periodontists', 'Afghan', 'Customs Brokers', 'Tabletop Games', 'Appraisal Services', 'Ethical Grocery', 'Home Window Tinting', 'Brazilian', 'Ear Nose & Throat', 'Brewpubs', 'Furniture Repair', 'Tui Na', 'Commercial Truck Dealers', 'Basketball Courts', 'Psychiatrists', 'Cheesesteaks', 'Real Estate Photography', 'Laotian', 'Surgeons', 'Beer Tours', 'Bar Crawl', 'Team Building Activities', 'Career Counseling', 'Plastic Surgeons', 'Glass & Mirrors', 'Adult', 'Honduran', 'Salvadoran', 'Nicaraguan', 'Siding', 'Screen Printing/T-Shirt Printing', 'Fabric Stores', 'Used Bookstore', 'Immigration Law', 'Ethiopian', 'Environmental Testing', 'Environmental Abatement', 'Falafel', 'Water Delivery', 'Gymnastics', 'Cooking Classes', 'Fishing', 'Threading Services', 'Uniforms', 'Title Loans', 'Home Staging', 'Bankruptcy Law', 'Campgrounds', 'RV Parks', 'Patio Coverings', 'Magicians', 'Restaurant Supplies', 'Float Spa', 'Oxygen Bars', 'Vacation Rental Agents', 'Water Purification Services', 'Hydro-jetting', 'Spanish', 'Sugar Shacks', 'Recording & Rehearsal Studios', 'Food Tours', 'Pet Cremation Services', 'Clock Repair', 'Watch Repair', 'Leisure Centers', 'Knitting Supplies', 'CSA', 'Elder Care Planning', 'Business Financing', 'Car Brokers', 'Car Buyers', 'Muay Thai', 'Kickboxing', 'Preventive Medicine', 'Concierge Medicine', 'Metal Fabricators', 'Mortuary Services', 'Excavation Services', 'Safe Stores', 'Health Coach', 'Alternative Medicine', 'Karate', 'Golf Equipment', 'Skate Parks', 'Smokehouse', 'Teeth Whitening', 'Basque', 'Architects', 'Local Fish Stores', 'Aquarium Services', 'Registration Services', 'Commercial Truck Repair', 'Engraving', 'Trophy Shops', 'Rock Climbing', 'International Grocery', 'Ethnic Grocery', 'Commissioned Artists', 'Home Network Installation', 'Data Recovery', 'Distilleries', 'Home Energy Auditors', 'Observatories', 'Candle Stores', 'Live/Raw Food', 'Gun/Rifle Ranges', 'Officiants', 'Pet Breeders', 'Private Tutors', 'Spray Tanning', 'Golf Lessons', 'Mini Golf', 'Laser Tag', 'Go Karts', 'Shared Office Spaces', 'Gardeners', 'Macarons', 'Water Stores', 'Zoos', 'Petting Zoos', 'Piano Bars', 'Venezuelan', 'Religious Schools', 'Grilling Equipment', 'Translation Services', 'Irrigation', 'Arabian', 'Test Preparation', 'Hospice', 'Demolition Services', 'Planetarium', 'Prosthetics', 'Orthotics', 'Opera & Ballet', 'Barre Classes', 'Henna Artists', 'Software Development', 'Russian', 'Prenatal/Perinatal Care', 'Lactation Services', 'Motorcycle Gear', 'Jazz & Blues', 'Special Education', 'Adult Education', 'Izakaya', 'Bartending Schools', 'Colonics', 'Septic Services', 'Motorsport Vehicle Repairs', 'University Housing', 'Nurse Practitioner', 'Psychologists', 'Gastroenterologist', 'Payroll Services', 'Retirement Homes', 'Firearm Training', 'Acai Bowls', 'Train Stations', 'RV Dealers', 'RV Rental', 'South African', 'Montessori Schools', 'Trailer Dealers', 'Departments of Motor Vehicles', 'Trains', 'Cremation Services', 'Editorial Services', 'Flea Markets', 'Beach Bars', 'Screen Printing', 'Roadside Assistance', 'Belgian', 'Radio Stations', 'Travel Agents', 'Luggage', 'Skating Rinks', 'Tutoring Centers', 'Wigs', 'Fire Protection Services', 'Framing', 'Cultural Center', 'IP & Internet Law', 'Real Estate Law', 'Personal Care Services', 'Junkyards', 'Recycling Center', 'Rotisserie Chicken', 'Private Investigation', 'Snow Removal', 'Countertop Installation', 'Farming Equipment', 'Farm Equipment Repair', 'Brewing Supplies', 'Animal Physical Therapy', 'Skilled Nursing', 'Nursing Schools', 'Virtual Reality Centers', 'Neurotologists', 'Hazardous Waste Disposal', 'Perfume', 'Cardiologists', 'Senior Centers', 'Pasta Shops', 'Drive-In Theater', 'Decks & Railing', 'Playsets', 'Pole Dancing Classes', 'Vehicle Shipping', 'Dental Hygienists', 'Batting Cages', 'Balloon Services', 'Workers Compensation Law', 'Disability Law', 'Donairs', 'Language Schools', 'New Mexican Cuisine', 'Shredding Services', 'Indoor Playcentre', 'Medical Cannabis Referrals', 'IV Hydration', 'Speech Therapists', 'Cycling Classes', 'Racing Experience', 'Misting System Services', 'Skate Shops', 'Visitor Centers', 'Challenge Courses', 'Lighting Stores', 'Debt Relief Services', 'Fitness/Exercise Equipment', 'Speakeasies', 'Fertility', 'Cambodian', 'Bookkeepers', 'Solar Panel Cleaning', 'Trinidadian', 'Syrian', 'Face Painting', 'Assisted Living Facilities', 'Generator Installation/Repair', 'Race Tracks', 'Beverage Store', 'Golf Cart Rentals', 'Golf Cart Dealers', 'Knife Sharpening', 'Television Stations', 'Home Automation', 'Currency Exchange', 'Product Design', 'Mobile Dent Repair', 'Religious Items', 'Estheticians', 'Squash', 'Aerial Fitness', 'Service Stations', 'Hostels', 'Trailer Repair', 'Process Servers', 'Home Developers', 'Szechuan', 'Scottish', 'Veterans Organizations', 'Social Security Law', 'Habilitative Services', 'Brazilian Jiu-jitsu', 'Jet Skis', 'Immunodermatologists', 'Street Art', 'Historical Tours', 'Awnings', 'Food Court', 'Tickets', 'Bartenders', 'Mobile Home Repair', 'Artificial Turf', 'Spin Classes', 'Spine Surgeons', 'Argentine', 'Bookbinding', 'Insulation Installation', 'Pop-up Shops', 'Diving', 'Scuba Diving', 'Health Retreats', 'Ice Delivery', 'Pool & Billiards', 'Roof Inspectors', 'Piano Stores', 'Dive Shops', 'Rolfing', 'Snorkeling', 'Wine Tours', 'Airport Terminals', 'Saunas', 'Hong Kong Style Cafe', 'Australian', 'Boudoir Photography', 'Car Share Services', 'Horse Racing', 'Land Surveying', 'Bail Bondsmen', 'Ultrasound Imaging Centers', 'Massage Schools', 'Carpenters', 'Cuban', 'Well Drilling', 'Hypnosis/Hypnotherapy', 'Clowns', 'Bangladeshi', 'Guitar Stores', 'Austrian', 'Tableware', 'First Aid Classes', 'Police Departments', 'Aestheticians', 'Bus Tours', 'Sunglasses', 'Haunted Houses', 'Traffic Ticketing Law', 'Memory Care', 'Cabaret', 'Municipality', 'Homeowner Association', 'Rafting/Kayaking', 'Wallpapering', 'Themed Cafes', 'Town Car Service', 'Nanny Services', 'Addiction Medicine', 'Armenian', 'Gunsmith', 'Gemstones & Minerals', 'Himalayan/Nepalese', 'Fire Departments', 'Wine Tasting Classes', 'Olive Oil', 'Christmas Trees', 'Hunting & Fishing Supplies', 'Cannabis Tours', 'Structural Engineers', 'Lakes', 'Retina Specialists', 'Boat Tours', 'Scavenger Hunts', 'ATV Rentals/Tours', 'Pet Hospice', 'Badminton', 'Buddhist Temples', 'Valet Services', 'Club Crawl', 'Pick Your Own Farms', 'Car Inspectors', 'Party Characters', 'Toxicologists', 'Synagogues', 'Passport & Visa Services', 'Teppanyaki', 'Disc Golf', 'Sandblasting', 'Prosthodontists', 'Dialysis Clinics', 'Singaporean', 'Drones', 'Parenting Classes', 'Coffee & Tea Supplies', 'Doulas', 'Paintball', 'Kitchen Supplies', 'Eatertainment', 'Astrologers', "Children's Museums", 'Cideries', 'Buses', 'Acne Treatment', 'Personal Assistants', 'Conveyor Belt Sushi', 'Shanghainese', 'Airsoft', 'Placenta Encapsulations', 'Self-defense Classes', 'Tuscan', 'Indonesian', 'Uzbek', 'Indoor Landscaping', 'Matchmakers', 'Mediators', 'Sailing', 'Axe Throwing', 'Traffic Schools', 'Props', 'Hockey Equipment', '3D Printing', 'International', 'Photography Classes', 'Art Space Rentals', 'Cheerleading', 'Ranches', 'Furniture Rental', 'Haitian', 'Powder Coating', 'DIY Auto Shop', 'Cafeteria', 'Beach Volleyball', 'Dance Wear', 'Pathologists', 'Vocal Coach', 'Holistic Animal Care', 'Burmese', 'Digitizing Services', 'Striptease Dancers', 'Tenant and Eviction Law', 'Paddleboarding', 'Coffeeshops', 'Surfing', 'Flyboarding', 'Lice Services', 'Skydiving', 'Sicilian', 'Dominican', 'Pet Transportation', 'Colombian', 'Concept Shops', 'Empanadas', 'Mobility Equipment Sales & Services', 'Music Production Services', 'Livestock Feed & Supply', 'Ziplining', 'Airport Lounges', 'Supper Clubs', 'Egyptian', 'Machine & Tool Rental', 'Mosques', 'Halotherapy', 'Trailer Rental', 'House Sitters', 'Art Tours', 'Carousels', 'Flowers', 'Bike Sharing', 'Bus Rental', 'Gerontologists', 'Audio/Visu

In [67]:
Counter(category_lst)['Restaurants']

59371

In [75]:
business_df['restaurant?'] = business_df['categories'].apply(lambda x: True if 'Restaurants' in x else False)
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,restaurant?
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"[Golf, Active Life]",None,False
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","[Specialty Food, Restaurants, Dim Sum, Importe...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",True
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","[Sushi Bars, Restaurants, Japanese]","{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",True
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"[Insurance, Financial Services]","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",False
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","[Plumbing, Shopping, Local Services, Home Serv...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",False

In [82]:
restaurant_df = business_df[business_df['restaurant?']==True]
restaurant_df = restaurant_df.drop(['restaurant?'], axis=1)
restaurant_df = restaurant_df.reset_index(drop=True)
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","[Specialty Food, Restaurants, Dim Sum, Importe...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
1,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","[Sushi Bars, Restaurants, Japanese]","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
2,1Dfx3zM-rW4n-31KeC8sJg,Taco Bell,2450 E Indian School Rd,Phoenix,AZ,85016,33.495194,-112.028588,3.0,18,1,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","[Restaurants, Breakfast & Brunch, Mexican, Tac...","{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W..."
3,fweCYi8FmbJXHCqLnwuk8w,Marco's Pizza,5981 Andrews Rd,Mentor-on-the-Lake,OH,44060,41.708520,-81.359556,4.0,16,1,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","[Italian, Restaurants, Pizza, Chicken Wings]","{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ..."
4,PZ-LZzSlhSe9utkQYU8pFg,Carluccio's Tivoli Gardens,"1775 E Tropicana Ave, Ste 29",Las Vegas,NV,89119,36.100016,-115.128529,4.0,40,0,"{'OutdoorSeating': 'False', 'BusinessAcceptsCr...","[Restaurants, Italian]",None

### Create Master DF

In [91]:
master_df = restaurant_df.merge(review_df, left_on='business_id', right_on='business_id').merge(user_df, left_on='user_id', right_on='user_id')

master_df.head()

,business_id,name_x,address,city,state,postal_code,latitude,longitude,stars_x,review_count_x,is_open,attributes,categories,hours,review_id,user_id,stars_y,useful,funny,cool,text,date,name_y,review_count_y,yelping_since,friends,fans,average_stars,likes,compliments,elite_years
0,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","[Specialty Food, Restaurants, Dim Sum, Importe...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",6W0MQHmasK0IsaoDo4bmkw,2K62MJ4CJ19L8Tp5pRfjfQ,3.0,3,2,0,My girlfriend and I went for dinner at Emerald...,2017-01-27 21:54:30,David,57,2014-11-27 22:36:00,"ZJfwkdJMex21dGHfQ3YgTg, 603oDa3dGdJyfkq2RoH2Dw...",1,3.3,100,16,2
1,NX1281ugzs2navHAX5X9cQ,Cha Me Cha,"8333 Kennedy Road, Suite 1078",Markham,ON,L3R 1J5,43.856327,-79.303884,3.0,293,1,"{'OutdoorSeating': 'False', 'RestaurantsPriceR...","[Bubble Tea, Food, Restaurants, Taiwanese, Cof...","{'Monday': '12:0-0:0', 'Tuesday': '12:0-0:0', ...",wbRQarYt_jBHNleOr0e1ng,2K62MJ4CJ19L8Tp5pRfjfQ,4.0,1,0,0,We decided to make a stop at Cha Me Cha for a ...,2018-08-20 21:38:43,David,57,2014-11-27 22:36:00,"ZJfwkdJMex21dGHfQ3YgTg, 603oDa3dGdJyfkq2RoH2Dw...",1,3.3,100,16,2
2,5H4coiGpvG3XdnU1Nde2xQ,Keung's Restaurant,8380 Kennedy Road,Markham,ON,L3R 0W4,43.860726,-79.304713,3.0,60,1,"{'Alcohol': 'u'none'', 'BusinessParking': '{'g...","[Restaurants, Chinese]","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",4xF9XB58CCuOcOv1lZJiiw,2K62MJ4CJ19L8Tp5pRfjfQ,3.0,0,0,0,I went to Keung's restaurant over the weekend ...,2014-12-02 23:45:52,David,57,2014-11-27 22:36:00,"ZJfwkdJMex21dGHfQ3YgTg, 603oDa3dGdJyfkq2RoH2Dw...",1,3.3,100,16,2
3,SvMBtzXfE-3H5pxoR7VD3w,Kenny's Gourmet,"1480 Major Mackenzie Drive E, Unit 7",Richmond Hill,ON,L3R,43.883345,-79.388160,3.0,15,0,"{'RestaurantsReservations': 'True', 'BikeParki...","[Restaurants, Chinese]",None,naq8WG94TqTeE4E__Q3x7A,2K62MJ4CJ19L8Tp5pRfjfQ,3.0,0,0,0,I visited Kenny's with some friend to eat lunc...,2015-01-19 22:09:07,David,57,2014-11-27 22:36:00,"ZJfwkdJMex21dGHfQ3YgTg, 603oDa3dGdJyfkq2RoH2Dw...",1,3.3,100,16,2
4,PFAvETr4Vf6UY548TWvhFA,Koi Sakana Ramen House,"360 Highway 7 E, Unit 3",Richmond Hill,ON,L4B 3Y7,43.841523,-79.397015,3.5,148,1,"{'OutdoorSeating': 'False', 'BikeParking': 'Fa...","[Restaurants, Canadian (New), Japanese, Ramen]","{'Tuesday': '17:0-21:0', 'Wednesday': '17:0-21...",CeNglOZFNkOYP8Gx3CIxRw,2K62MJ4CJ19L8Tp5pRfjfQ,5.0,2,1,1,"I went to Koi Sakana last Saturday, my second ...",2016-02-19 02:08:29,David,57,2014-11-27 22:36:00,"ZJfwkdJMex21dGHfQ3YgTg, 603oDa3dGdJyfkq2RoH2Dw...",1,3.3,100,16,2

In [92]:
master_df.to_pickle('../data/master_df.pkl')

OSError: [Errno 22] Invalid argument